{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow">
            <div class="card-header bg-warning text-dark">
                <h4 class="mb-0">Editar Cliente</h4>
            </div>

            <div class="card-body">

                <form method="POST">
                    {% csrf_token %}

                    
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        {{ form.nombre }}
                    </div>

                    
                    <div class="mb-3">
                        <label class="form-label">Correo</label>
                        {{ form.correo }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Telefono</label>
                        {{ form.telefono }}
                    </div>

                    <!-- Botones -->
                    <div class="d-grid gap-2">
                        <button class="btn btn-warning">
                            Actualizar Cliente
                        </button>

                        <a href="/clientes/" class="btn btn-secondary">
                            Volver
                        </a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}