{% extends 'base.html' %}

{% block content %}

<h2>Facturas</h2>

<a href="/facturas/crear/" class="btn btn-primary mb-3">
    Crear Factura
</a>
<form method="GET" class="mb-3">
    <div class="input-group">

        <input 
            type="text" 
            name="q" 
            class="form-control" 
            placeholder="Buscar Factura por nombre del cliente"
            value="{{ request.GET.q }}"
        >

        <button class="btn btn-dark">
            🔍 Buscar
        </button>

    </div>
</form>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for f in facturas %}
        <tr>
            <td>{{ f.id }}</td>
            <td>{{ f.cliente.nombre }}</td>
            <td>${{ f.total }}</td>
            <td>
                <a href="/facturas/{{ f.id }}/" class="btn btn-sm btn-info">Agregar Productos</a>
                <a href="{% url 'eliminar_factura' f.id %}" 
                class="btn btn-danger btn-sm"
                onclick="return confirm('¿Seguro que quieres eliminar esta factura?')">
                Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}